/* Dropbox Image upload stuff */
#dropbox {
    width: 100%;
    min-height: 300px;
    border: 3px solid #CADBE4;
    overflow: hidden;
}

#dropbox .message {
    text-align: center;
    padding-top: 50px;
    display: block;
}

#dropbox .result {
    text-align: center;
    display: block;
    padding-top: 50px;
    right: 0;
    height: 50px;
    color: #00ff00;
}

#dropbox .error {
    color: red;
}

#dropbox .preview {
    width: 240px;
    min-height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#dropbox .preview img {
    max-width: 240px;
    max-height: 180px;
    border: 3px solid #666;
    display: block;
    box-shadow: 0 0 2px #000;
}

#dropbox .imageHolder {
    display: inline-block;
    position: relative;
}

#dropbox .uploaded {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded {
    display: block;
}

#dropbox .progressHolder{
    position: absolute;
    background-color: #252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;
    box-shadow:0 0 2px #000;
    margin-top: 20px;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}
