#recent {
    width: 200px;
    float: left;
    display: inline;
    color: #000;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin-left: 20px;
}

#recent ul {
    padding: 0;
}

#recent ul li {
    padding: 6px 0;
    list-style: none;
}

#updates div.heading {
    background: url("data:image/gif;base64,R0lGODlhAQASAIAAAPr6+v///yH5BAAHAP8ALAAAAAABABIAAAIFjH+guwUAOw==") repeat-x scroll left bottom #FFFFFF;
    padding: 6px;
    border-bottom: 1px solid #DDDDDD;
}

#updates div.heading span {
    width: 200px;
    display: inline-block;
}

#updates div.row span.date, #updates div.heading span.date {
    width: 25%;
    display: inline-block;
}

#updates div.row span.title, #updates div.heading span.title {
    width: 60%;
    display: inline-block;
}

#article span.date {
    display: block;
    font-size: 11px;
    margin-bottom: 20px;
}

#article span {
    display: block;
}

#article a.nav {
    display: inline-block;
    margin: 0 auto;
    color: #000;
    padding-top: 50px;
    padding-right: 50px;
}

#right_column {
    width: 20%;
    float: left;
    display: inline;
    color: #000;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin-left: 20px;
}

#twitter a {
    color: #000;
}

span.error {
    color: red;
}

#menu {
    display: block;
    background: url('/assets/images/network-bar.png') repeat-x scroll left center #F1F1F1;
    border-bottom: 1px solid #B1B2B3;
    color: #000;
    height: 31px;
    padding-left: 10px;
    vertical-align: baseline;
}

#menu img {
    display: block;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline;    
    padding: 0 14px;
}

#menu li.title {
    font-weight: bold;
    font-size: 12px;
}

#menu li a {
    text-decoration: none;
    color: #000;
    line-height: 31px;
}

#menu li a:hover {
    text-decoration: underline;
}

#menu ul#main {
    float: left;
}

#menu ul#profile {
    float: right;
    padding: 0;
    margin: 0;
}

#menu ul#profile li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul#profile li img {
    float: right;
}

#menu ul#profile li a {
    width: 140px;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #666;
    margin: 0;
    padding: 0 10px;
}

#menu ul#profile li a:hover {
	/*background-color: #00cc33;*/
}

#menu ul#profile ul {
    position: absolute;
    top: 31px;
    visibility: hidden;
    padding: 0;
}

#menu ul#profile li:hover ul {
    visibility: visible;
    background-color: #E9F2F5;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#main-content a.mail {
    float: right;    
    margin: 10px 0;
}

#main-content a.mail img {
    padding: 1px 6px;
    margin: 0;
}

h1.mail {
    display: inline-block;
}

#mail {
    text-align: left;
    position: relative;
    border: 1px solid #DDDDDD;
    background-color: #E9F2F5;
}

#mail div.heading {
    background: url("data:image/gif;base64,R0lGODlhAQASAIAAAPr6+v///yH5BAAHAP8ALAAAAAABABIAAAIFjH+guwUAOw==") repeat-x scroll left bottom #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    padding: 6px;
}

#mail div.heading span, #mail div.row span {
    width: 15%;
    display: inline-block;
    padding: 6px;
}

#mail div.row span.date, #mail div.heading span.date {
    width: 30%;
    display: inline-block;
    padding: 6px;
}

#mail div.row span.title, #mail div.heading span.title {
    display: inline-block;
    padding: 6px;
}

#mail div.msgpane {
    background-color: #FFF;
    color: #000;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid #DDDDDD;
    display: block;
    padding: 6px;
}

#mail div.msgpane span a {
    padding: 0 10px;
}

.alternate {
    background-color: #F7F7F7;
}

.row {
    padding: 6px;
}

.row a {
    color: #000;
}

.row:hover {
    background-color: #FFFCCC;
}

/* Profiles */
#profile span, img {
    display: block;
    padding: 6px 0;
} 

#profile iframe {
    margin: 20px;
}

video {
    display: block;
}

#competition ul li {
    list-style: none;
} 

#competition img {
    display: block;
    float: none;
}


#lightbox {

}

.white_frame {
    top: 20%;
    position: relative;
    width: 560px;
    padding: 15px;
    border: 0;
    background-color: #fff;
    z-index: 2002;
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 0 0 15px #000;
    -moz-box-shafow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
}

.black_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    background: rgba(64, 64, 64, 0.7);
}
